 {{#each blogs as |blog| }}
 <div class="card blog-card" id={{id}}>
            <div class="card-header" >
                <h5 class="card-title">
                  <a href="/blog/{{id}}">{{title}} > </a> </h5>
                <h5 class="card-posted-date"> Posted by {{user.username}} on {{format_date create_date}}</h5>
            </div>
            <div class="card-body">
              <p class="card-text"> 
                {{content}}
            </div>
      </div>
{{/each}}

